## This script contains the following points:

### 1. Importing data set

### 2. Data security check

### 3. Creating a regional segmentation of data

### 4. Creating an exclusion flag for high and low activity customers

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\Bhati\OneDrive\Desktop\CF\Data Analytics Immersion\Achievement 4\11-Apr-2023 Instacart Basket Analysis'

In [3]:
#Importing Final combined file of order products and customer
df_clean = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_customer_clean.pkl'))

In [4]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 30 columns):
 #   Column                  Dtype
---  ------                  -----
 0   product_id              int64
 1   product_name            object
 2   aisle_id                int64
 3   department_id           int64
 4   prices                  float64
 5   order_id                int64
 6   user_id                 int64
 7   order_number            int64
 8   orders_day_of_week      int64
 9   order_hour_of_day       int64
 10  days_since_prior_order  float64
 11  add_to_cart_order       int64
 12  reordered               int64
 13  price_range_loc         object
 14  busiest day             object
 15  busiest days            object
 16  busiest_period_of_day   object
 17  max_order               int64
 18  loyalty_flag            object
 19  avg_price               float64
 20  spending_flag           object
 21  median_freq             float64
 22  order_freq_flag         object
 23  gender                  object
 24  state                   object
 25  age                     int64
 26  date_joined             object
 27  Number_of_dependents    int64
 28  family_status           object
 29  income                  int64
dtypes: float64(4), int64(14), object(12)
memory usage: 7.5+ GB

# Data Security

Removed PII data before importing file in this notebook

# Create a regional segmentation of the data

In [5]:
# Checking the state column
df_clean['state'].value_counts().sort_index()

Alabama                 638003
Alaska                  648495
Arizona                 653964
Arkansas                636144
California              659783
Colorado                639280
Connecticut             623022
Delaware                637024
District of Columbia    613695
Florida                 629027
Georgia                 656389
Hawaii                  632901
Idaho                   607119
Illinois                633024
Indiana                 627282
Iowa                    625493
Kansas                  637538
Kentucky                632490
Louisiana               637482
Maine                   638583
Maryland                626579
Massachusetts           646358
Michigan                630928
Minnesota               647825
Mississippi             632675
Missouri                640732
Montana                 635265
Nebraska                625813
Nevada                  636139
New Hampshire           615378
New Jersey              627692
New Mexico              654494
New York                635983
North Carolina          651900
North Dakota            638491
Ohio                    628319
Oklahoma                651739
Oregon                  636425
Pennsylvania            667082
Rhode Island            656913
South Carolina          636754
South Dakota            633772
Tennessee               617873
Texas                   640394
Utah                    611941
Vermont                 611725
Virginia                641421
Washington              632852
West Virginia           612296
Wisconsin               628108
Wyoming                 644255
Name: state, dtype: int64

In [6]:
# Defining the regions
Northeast = ['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New York', 'Pennsylvania', 'New Jersey']
Midwest = ['Wisconsin', 'Michigan', 'Illinois', 'Indiana', 'Ohio', 'North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri']
South = ['Delaware', 'Maryland', 'District of Columbia', 'Virginia', 'West Virginia', 'North Carolina', 'South Carolina', 'Georgia', 'Florida', 'Kentucky', 'Tennessee', 'Mississippi', 'Alabama', 'Oklahoma', 'Texas', 'Arkansas', 'Louisiana']
West = ['Idaho', 'Montana', 'Wyoming', 'Nevada', 'Utah', 'Colorado', 'Arizona', 'New Mexico', 'Alaska', 'Washington', 'Oregon', 'California', 'Hawaii']

In [7]:
# Placing the states into regions
df_clean.loc[df_clean['state'].isin(Northeast), 'region'] = 'Northeast'
df_clean.loc[df_clean['state'].isin(Midwest), 'region'] = 'Midwest'
df_clean.loc[df_clean['state'].isin(South), 'region'] = 'South'
df_clean.loc[df_clean['state'].isin(West), 'region'] = 'West'

In [8]:
# Checking the region count
df_clean['region'].value_counts(dropna = False)

South        10791885
West          8292913
Midwest       7597325
Northeast     5722736
Name: region, dtype: int64

In [9]:
# verifying if every row is updated
len(df_clean['region']) == len(df_clean['state'])

True

# Checking the spending habits across regions

In [10]:
# Creating a crosstab between 'region' and 'spending_flag'
crosstab = pd.crosstab(df_clean['region'], df_clean['spending_flag'], dropna = False)

In [11]:
crosstab

spending_flag  High spender  Low spender
region
Midwest              155975      7441350
Northeast            108225      5614511
South                209691     10582194
West                 160354      8132559

# Creating an exclusion flag for low activity customers

In [12]:
# Creating a flag for 'low activity' customers
df_clean.loc[df_clean['max_order']<5, 'activity_flag'] = 'low activity'

In [13]:
# Creating a flag for 'high activity' customers
df_clean.loc[df_clean['max_order']>=5, 'activity_flag'] = 'high activity'

In [14]:
df_clean.tail(20)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,order_freq_flag,gender,state,age,date_joined,Number_of_dependents,family_status,income,region,activity_flag
32404839,49235,Organic Half & Half,53,16,1.8,3368888,27382,1,4,9,...,Regular customer,Female,Vermont,68,11/25/2019,3,married,37867,Northeast,high activity
32404840,49235,Organic Half & Half,53,16,1.8,813102,27382,2,1,8,...,Regular customer,Female,Vermont,68,11/25/2019,3,married,37867,Northeast,high activity
32404841,49235,Organic Half & Half,53,16,1.8,2939801,27382,3,3,8,...,Regular customer,Female,Vermont,68,11/25/2019,3,married,37867,Northeast,high activity
32404842,49235,Organic Half & Half,53,16,1.8,698928,27382,4,3,7,...,Regular customer,Female,Vermont,68,11/25/2019,3,married,37867,Northeast,high activity
32404843,49235,Organic Half & Half,53,16,1.8,3310701,27382,5,3,9,...,Regular customer,Female,Vermont,68,11/25/2019,3,married,37867,Northeast,high activity
32404844,49235,Organic Half & Half,53,16,1.8,527883,27382,6,1,12,...,Regular customer,Female,Vermont,68,11/25/2019,3,married,37867,Northeast,high activity
32404845,49235,Organic Half & Half,53,16,1.8,685496,27382,7,4,8,...,Regular customer,Female,Vermont,68,11/25/2019,3,married,37867,Northeast,high activity
32404846,49235,Organic Half & Half,53,16,1.8,1224680,27382,8,1,7,...,Regular customer,Female,Vermont,68,11/25/2019,3,married,37867,Northeast,high activity
32404847,49235,Organic Half & Half,53,16,1.8,2223687,27382,9,2,12,...,Regular customer,Female,Vermont,68,11/25/2019,3,married,37867,Northeast,high activity
32404848,49235,Organic Half & Half,53,16,1.8,1365409,56454,1,4,9,...,Frequent customer,Male,Washington,21,2/16/2019,3,living with parents and siblings,27361,West,low activity
32404849,49235,Organic Half & Half,53,16,1.8,952054,56454,2,3,9,...,Frequent customer,Male,Washington,21,2/16/2019,3,living with parents and siblings,27361,West,low activity
32404850,49235,Organic Half & Half,53,16,1.8,1189204,56454,3,1,19,...,Frequent customer,Male,Washington,21,2/16/2019,3,living with parents and siblings,27361,West,low activity
32404851,49235,Organic Half & Half,53,16,1.8,585692,56454,4,1,10,...,Frequent customer,Male,Washington,21,2/16/2019,3,living with parents and siblings,27361,West,low activity
32404852,49235,Organic Half & Half,53,16,1.8,466614,80734,1,1,8,...,Non-frequent customer,Male,Alabama,45,9/28/2019,1,married,41072,South,low activity
32404853,49235,Organic Half & Half,53,16,1.8,1677669,80734,2,2,8,...,Non-frequent customer,Male,Alabama,45,9/28/2019,1,married,41072,South,low activity
32404854,49235,Organic Half & Half,53,16,1.8,2542346,80734,3,3,8,...,Non-frequent customer,Male,Alabama,45,9/28/2019,1,married,41072,South,low activity
32404855,49520,Orange Sparkling Water,115,7,7.5,1363278,74506,1,1,14,...,Regular customer,Male,Vermont,44,4/16/2018,3,married,97209,Northeast,low activity
32404856,49520,Orange Sparkling Water,115,7,7.5,2008002,74506,2,0,15,...,Regular customer,Male,Vermont,44,4/16/2018,3,married,97209,Northeast,low activity
32404857,49520,Orange Sparkling Water,115,7,7.5,1595973,74506,3,1,17,...,Regular customer,Male,Vermont,44,4/16/2018,3,married,97209,Northeast,low activity
32404858,49520,Orange Sparkling Water,115,7,7.5,1680478,74506,4,0,16,...,Regular customer,Male,Vermont,44,4/16/2018,3,married,97209,Northeast,low activity

In [15]:
# Checking to verify if every row is updated
len(df_clean['region']) == len(df_clean['activity_flag'])

True

In [16]:
df_clean['activity_flag'].value_counts(dropna = False)

high activity    30964564
low activity      1440295
Name: activity_flag, dtype: int64

**Exporting file with region and all customer activity flag**

In [17]:
df_clean.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'customers_all activity.pkl'))